[Unit]
Description=VSCodium Web IDE for %i
After=network.target

[Service]
Type=exec
User=%i
WorkingDirectory=/home/%i
Environment=HOME=/home/%i
ExecStart=/usr/local/bin/code-server --config /home/%i/.config/code-server/config.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
